<footer class="tc pa3 mb4 f6 near-black">
    Have a question or need help? <a class="link fw5 blue pointer dim" href="mailto:support@application.com">Send us an email.</a> © 2019 Application | <a class="link fw5 blue pointer dim" href="/privacy">Privacy Policy</a> | <a class="link fw5 blue pointer dim" href="/terms">Terms</a>
</footer>
